html {
  scroll-behavior: smooth;
}

.navbar {
  -webkit-box-shadow: 2px 2px 2px #4b4949;
          box-shadow: 2px 2px 2px #4b4949;
  margin-bottom: auto;
}

#bookNav {
  color: white;
  background-color: black;
  font-weight: bold;
  width: 135px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#bookNav:hover {
  background-color: #503130;
  color: #f0e9e9;
}

@media screen and (max-width: 768px) {
  #bookNav {
    color: white;
    background-color: black;
    font-weight: bold;
    width: 105px;
    padding-bottom: 4px;
    padding-top: 4px;
  }
  #bookNav:hover {
    background-color: #503130;
    color: #f0e9e9;
  }
}

#home {
  background-color: #f5a9a9;
  padding-bottom: 100px;
  padding-top: 90px;
}

@media screen and (max-width: 768px) {
  #home {
    background-color: #f5a9a9;
    padding-bottom: auto;
    padding-top: auto;
  }
}

.hometitle h1 {
  font-family: 'Allura', cursive;
  font-size: 4.5rem;
}

.hometitle p {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .hometitle h1 {
    font-family: 'Allura', cursive;
    font-size: 3.5rem;
  }
  .hometitle p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
  }
}

#bookNow {
  color: white;
  background-color: black;
  font-weight: bold;
  width: 250px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

#bookNow:hover {
  background-color: #503130;
  color: #f0e9e9;
}

@media screen and (max-width: 768px) {
  #bookNow {
    color: white;
    background-color: black;
    font-weight: bold;
    position: relative;
    width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #bookNow:hover {
    background-color: #503130;
    color: #f0e9e9;
  }
}

.storyBox {
  background-color: black;
  color: white;
}

#myStory1 {
  background-color: #fff;
  color: black;
}

#myStory1 h1 {
  font-family: 'Bad Script', cursive;
  font-size: 3.2rem;
  margin-top: .5em;
}

#myStory1 p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}

@media screen and (max-width: 992px) {
  #myStory1 {
    background-color: #fff;
    color: black;
  }
  #myStory1 h1 {
    font-family: 'Bad Script', cursive;
    font-size: 3.2rem;
  }
  #myStory1 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
  }
}

.portrait {
  height: 450px;
  width: 450px;
}

@media screen and (max-width: 992px) {
  .portrait {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .portrait {
    height: 230px;
    width: 230px;
  }
}

.servicesDetails {
  background-color: #f5a9a9;
}

.servicesDetails h1 {
  font-family: 'Bad Script', cursive;
  font-size: 3.2rem;
}

.servicesDetails h3 {
  font-size: 1.3rem;
}

.servicesDetails p {
  font-family: 'Times New Roman', Times, serif;
}

#contactMe {
  background-color: silver;
}

#contactMe h1 {
  font-family: 'Bad Script', cursive;
  font-size: 3.2rem;
}

footer {
  background-color: black;
}

footer .contactInfo {
  color: white;
}

footer .fab {
  font-size: 40px;
  color: silver;
  padding: 5px;
}

footer .fab:hover {
  font-size: 42px;
  color: white;
}

@media screen and (max-width: 762px) {
  .fab {
    font-size: 30px;
    color: silver;
    padding: 5px;
    margin: auto;
  }
  .fab:hover {
    font-size: 32px;
    color: white;
  }
}

/*------/ Back to top button /------*/
.back-to-top {
  position: fixed;
  display: none;
  background: silver;
  color: black;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: black;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */