.navbar {
  -webkit-box-shadow: 2px 2px 2px #4b4949;
          box-shadow: 2px 2px 2px #4b4949;
  margin-bottom: auto;
}

#bookNav {
  color: white;
  background-color: black;
  font-weight: bold;
  width: 135px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#bookNav:hover {
  background-color: #503130;
  color: #f0e9e9;
}

@media screen and (max-width: 768px) {
  #bookNav {
    color: white;
    background-color: black;
    font-weight: bold;
    width: 105px;
    padding-bottom: 4px;
    padding-top: 4px;
  }
  #bookNav:hover {
    background-color: #503130;
    color: #f0e9e9;
  }
}

#home {
  background-color: #f5a9a9;
  padding-bottom: 100px;
  padding-top: 90px;
}

@media screen and (max-width: 768px) {
  #home {
    background-color: #f5a9a9;
    padding-bottom: auto;
    padding-top: auto;
  }
}

.hometitle h1 {
  font-family: 'Allura', cursive;
  font-size: 4.5rem;
}

.hometitle p {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .hometitle h1 {
    font-family: 'Allura', cursive;
    font-size: 3.5rem;
  }
  .hometitle p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
  }
}

#bookNow {
  color: white;
  background-color: black;
  font-weight: bold;
  width: 250px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

#bookNow:hover {
  background-color: #503130;
  color: #f0e9e9;
}

@media screen and (max-width: 768px) {
  #bookNow {
    color: white;
    background-color: black;
    font-weight: bold;
    position: relative;
    width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #bookNow:hover {
    background-color: #503130;
    color: #f0e9e9;
  }
}

.storyBox {
  background-color: black;
  color: white;

}


#myStory1 {
  background-color: #fff;
  
}

#myStory1 h1 {
  font-family: 'Bad Script', cursive;
  font-size: 3.2rem;
  margin-top: .5em;
}

#myStory1 p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}

@media screen and (max-width: 992px) {
  #myStory1 {
    background-color: #fff;
    color: black;
  }
  #myStory1 h1 {
    font-family: 'Bad Script', cursive;
    font-size: 3.2rem;
    margin-top: auto;
  }
  #myStory1 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
  }
}

#services {
  background-color: white;
}

#services .break {
  background-color: white;
}

.servicesDetails {
  background-color: #f5a9a9;
}

.servicesDetails h1 {
  font-family: 'Bad Script', cursive;
  font-size: 3.2rem;
}

.servicesDetails h3 {
  font-size: 1.3rem;
}

.servicesDetails p {
  font-family: 'Times New Roman', Times, serif;
}

#contact {
  background-color: #f5a9a9;
  margin: auto;
}

#contact .break {
  background-color: #f5a9a9;
  padding-top: 0.7em;
  padding-bottom: 0.9em;
}

@media screen and (max-width: 768px) {
  #contact {
    margin: auto;
    background-color: #f5a9a9;
  }
  #contact .break {
    background-color: #f5a9a9;
    padding-top: auto;
    padding-bottom: auto;
  }
}

#contactMe {
  background-color: silver;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 1em;
  padding-top: .5em;
}

#contactMe h1 {
  font-family: 'Bad Script', cursive;
  font-size: 3.2rem;
  margin-top: .5em;
}

footer {
  background-color: black;
  margin-top: auto;
  margin-bottom: auto;
}

footer .contactInfo {
  color: white;
}

footer .fab {
  font-size: 40px;
  color: white;
  padding: 5px;
}

footer .fab:hover {
  font-size: 42px;
  color: silver;
}
